<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
  Landmark Name: <input type="text" name="landmark[name]"> 
  Year Completed <input type="text" name="landmark[year_completed]">
  <input type="submit">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
